@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@600&family=Nanum+Gothic+Coding&display=swap');

.fonte1{
  font-family: Arial;
}

.fonte2{
  font-family: serif;
}

.fonte3{
  font-family: 'Bebas Neue';
}

.fonte4{
  font-family: 'Caveat';
}

.fonte5{
  font-family: 'Nanum Gothic Coding';
}